colorthief==0.2.1
darkdetect==0.8.0
pillow==10.2.0

# Backend
numpy==1.26.4
rasterio==1.3.9
scipy==1.12.0
matplotlib==3.8.3
geopandas==0.14.3
pandas==2.2.1

# Frontend
PySide6==6.4.1
PySide6-Addons==6.4.1

PySide6-Essentials==6.4.1
PySide6-Fluent-Widgets==1.5.0
PySideSix-Frameless-Window==0.3.6
pywin32==306


